.main-wrapper {
  margin-top: 120px;
  margin-bottom: 70px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.upButton {
  position: fixed;
  right: 30px;
  bottom: 30px;
  transform: rotate(180deg);
}

@media (max-width: 780px) {
  .main-wrapper {
    margin-top: 150px;
  }
}
